img {
	width: 30%;
	float: left;
	margin: 1.66%;
}
h1 {
	font-family: raleway;
	text-transform: uppercase;
	border-bottom: #B4D0AD solid 2px;
	margin-left: 1.66%;
	width: 30%;
	padding-bottom: 20px;
	font: bold;
}

.interact{
	
}